{% extends "layout/text.html" %}

{% block layout %}

    <h2>Download</h2>
    <ul>
    {% for file in data.files %}
        <li><a href="{{ file.link }}">{{ file.name }} [{{ file.type }}]</a></li>
    {% else %}
        Keine Downloads...
    {% endfor %}
    </ul>

{% endblock %}
