{% extends "layout/text.html" %}

{% import "include/widget/news.html" as news %}

{# post on top of page #}
{% block showcase %}

    {% if data.news[0] is defined %}
        {{ news.showcase(data.news[0]) }}
    {% endif %}

{% endblock %}

{# change content of page #}
{% block layout %}

    <h2>Aktuell</h2>
    <hr/>
    <div class="website-body-news-recent">
        {% for post in data.news|slice(1, 2) %}
            {{ news.article("medium", post) }}
        {% else %}
            Nichts...
        {% endfor %}
    </div>
    
    <h2>Meldungen</h2>
    <hr/>
    <div class="website-body-news-past">
        {% for post in data.news|slice(3, 10) %}
            {{ news.article("small", post) }}
        {% else %}
            Nichts...
        {% endfor %}
    </div>

{% endblock %}
