{% extends "layout/base.html" %}

{% import "include/widget/news.html" as news %}

{% block content %}

<div id="landing-short">
    <a href="{{ constant("LINK_FUPA", config) }}">
        FuPa.net 
    </a>
    <a href="{{ constant("LINK_FUSSBALL", config) }}">
        Fußball.de
    </a>
    <a href="{{ constant("LINK_FACEBOOK", config) }}">
        <img src="/resources/img/facebook-icon.png" /> 
    </a>
    <a href="/feed.php">
        <img src="/resources/img/rss-icon.png" /> 
    </a>
</div>

<div id="landing-header">
    {% include "include/logo.html" %}
</div>

<div id="landing-main">

    <div id="landing-preview">
        {{ news.showcase(data.news[0]) }}
    </div>

    <div id="landing-links">
        <div>
            <a href="/">
                HOMEPAGE
            </a>    
            <a href="{{ constant("LINK_FACEBOOK", config) }}">
                FACEBOOK
            </a>    
        </div>
    </div>

</div>

    {% include "include/footer.html" %}

{% endblock %}
