{% extends "layout/text.html" %}

{% block layout %}
    
    {% if data.post is null %}
        <b>Not found.</b>
    {% else %}
        <img class="full-image" src="{{ data.post.bild }}" />
        <h2>{{ data.post.titel }}</h2>
        {{ data.post.content|raw }}
    {% endif %}

{% endblock %}
