{% extends "layout/full.html" %}

{% macro position(team, position) %}
    <h3>{{ position }}</h3>
    <hr/>
    <div>
        {% for player in team[position] %}
            {% include "include/widget/player.html" %}
        {% endfor %}
    </div>
    {% endmacro %}
{% import _self as _ %}

{% block layout %}
    
    {% for team in data.teams %}
        
        <img class="full-image" src="{{ team.bild }}" />

        {{ _.position(team, "Tor") }}
        {{ _.position(team, "Verteidigung") }}
        {{ _.position(team, "Mittelfeld") }}
        {{ _.position(team, "Angriff") }}

    {% endfor %}

{% endblock %}
