{% extends "layout/full.html" %}

{% block layout %}

    <a href="/static.php?t=stadion"><h3>Austragungsorte</h3></a>

    <a href="/static.php?t=chronik"><h3>Chronik</h3></a>

    <a href="/download.php"><h3>Download</h3></a>

{% endblock %}
