$background-1: #fefefe;
$background-2: rgba(254, 254, 254, 0.6);
$background-3: #c3c3c3;
$background-4: #e0e0e0;
$background-5: #fdfdfd;

$foreground-1: #272727;

$highlight-1: #f3f3f3;

$font-1: arial;
$font-2: monospace;

$corners: 2px;

@mixin round-border {
    -moz-border-radius: $corners;
    -webkit-border-radius: $corners;
    border-radius: $corners;
}

@mixin soft-border {
    border: 1px solid $background-3;
}

@mixin image-border {
    border: 3px solid $background-4;
}

@mixin box-shadow {
    box-shadow: 0 0 3px rgba(0,0,0,0.6); 
}

@mixin footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    font-size: 13px;
}

body {
    margin: 0;
    font-family: $font-1;
    color: $foreground-1;
    background: $background-1 url("/resources/img/stripes-light.png");

    hr {
        height: 3px;
        background-color: $background-3;
        border: none;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    h2 {
        font-family: $font-1;
    }

    h4 {
        font-family: $font-1; 
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .full-image {
        @include image-border;
        width: 100%; 
    }
}

.widget {
    &-table {
        width: 100%;
        margin-bottom: 20px;
        font-size: 12px;

        .position,
        .points {
            width: 30px;
        }

        th {
            text-align: left;
        }

        td {
            padding: 2px;
        }

        tr:nth-child(even) {
            background-color: $background-4;
        }
    }

    &-game {
        padding: 5px;
        text-align: center;
    }
}


#website {
    @include round-border;
    @include soft-border;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: $background-2;

    &-logo {
        padding: 10px;   

        img {
            width: auto;
            height: 5em;
        }
    }

    &-footer {
        @include footer;
    }

    &-navigation {
        @include box-shadow;
        display: flex; 
        flex-direction: row;
        padding: 3px 0 3px 0;
        margin: 0 13px 0 13px;
        text-align: center;
        background-color: $highlight-1;

        a {
            @include round-border;
            text-align: center;
            flex-grow: 1;
            margin: 5px;
            padding: 5px;
        }

        .navigation-item {
            @include round-border;
            display: inline-block;
            position: relative;
            flex-grow: 1;
            margin: 5px;
        }

        .navigation-item-list {
            @include soft-border;
            display: none;
            position: absolute;
            z-index: 1;
            width: 100%;
            margin-top: 5px;
            padding: 3px 0 3px 0;
            background-color: $background-5;
        }

        .navigation-subitem {
            text-align: center;
            padding: 5px;
        }

        .navigation-item:hover .navigation-item-list {
            display: block;
        }
    }

    &-sidenote {
        margin: 0px;
        text-align: center;
        
        img {
            max-width: 90%;
            margin: 5px;
        }

        & .item {
            display: block;
            margin-top: 10px;       
        }
    }

    &-body {
        margin-top: 20px;
        background-color: transparent;
        padding: 10px;

        p {
            line-height: 1.5;
            text-align: justify;
        }

        li {
            padding: 5px;
        }

        &-separator {
            display: flex;
            flex-direction: row;
            align-items: stretch;
        }

        &-left {
            width: 100%;
            padding: 15px;
        }

        &-right {
            min-width: 200px;
            margin-left: 20px;
            padding: 5px;    
        }

    }
}

.website-body-news {
    &-latest,
    &-recent,
    &-past {
        font-family: $font-2; 
        padding: 5px;
        background-position: center;

        & .news-post {
            &-medium, 
            &-small {
                display: inline-block;
                padding: 5px;

                span {
                    word-wrap: break-word; 
                }

                img {
                    @include image-border;
                }
            }

            &-medium {
                width: 200px;

                h4 {
                    font-size: 20px; 
                }

                img {
                    height: 200px;
                    width: 200px;
                }
            }

            &-small {
                width: 128px;

                img {
                    height: 128px;
                    width: 128px;
                    display: block;
                }
            }
        }
    }

    &-latest {
        @include image-border;
        display: flex;
        height: 370px;
        max-height: 40vw;
        margin: 20px;
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;

        div {
            margin-left: 10px;
            padding: 10px;
            color: white;
            background-color: rgba(20, 20, 20, 0.6);
            text-align: left;
            align-self: flex-end;
        }
    }
}

#landing {
    &-links, 
    &-header,
    &-footer {
        width: 100%;
        background-color: $background-2;
    }

    &-short {
        padding: 5px;
        text-align: right;

        img {
            max-height: 16px;
        }
    }

    &-preview {
        .website-body-news-latest {
            height: 40vw;
            max-height: 70%;
            max-width: 70%;
            margin: auto;
        }
    }

    &-links {
        text-align: center;

        div {
            display: inline-block;
            margin: 10px;
            max-width: 500px; 
        }

        a {
            @include round-border;
            @include soft-border;
            display: inline-block;
            flex-grow: 1;
            width: 150px;
            padding: 10px 20px 10px 20px;
            margin: 5px;
            font-weight: bold;
            background-color: $background-5;
        }
    }

    &-footer {
        @include footer;
    }
}

.team {
    &-player {
        display: inline-block;
        margin: 5px;

        &-image {
            width: 110px;
            height: 140px;
        }

        &-data {
        }
    }
}
