@media only screen and (max-width: 1250px) {
    #website {
        width: 85%; 

        &-body-right {
            margin-left: 0;
        }
    }

    #landing-preview {
        .website-body-news-latest {
            max-width: 100%;
        }
    }
}

/* mobile version of the site */
@media only screen and (max-width: 750px) {
    #website {
        width: 100%;
        padding: 0px;
        border: none;
        margin: 0;

        &-navigation {
            flex-direction: column; 
            margin: 0;
            text-align: left;

            .navigation-item {
                display: inline-block;

                &-list {
                    display: block;
                    position: inherit;
                    width: auto;
                    margin: 0;
                    padding: 0;
                }

                .navigation-subitem {
                    display: inline-block;
                }
            }

            .navigation-item:hover .navigation-item-list {
                display: block;
            }
        }

        &-sidenote {
            margin-top: 20px;
        }

        &-body {
            &-separator {
                display: block;
                width: 100%;
            }

            &-left,
            &-right {
                flex-grow: initial;
                width: 100%;
                display: block;
                padding: 0;
            }
        }
    }
}
