<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="language" content="DE">

		<link rel="alternate" type="application/rss+xml" title="Neuigkeiten | 1. FC Umpfertal" href="/feed/">

		<link rel="apple-touch-icon" sizes="180x180" href="/resources/img/favicon/favicon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/resources/img/favicon/favicon.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/resources/img/favicon/favicon.png">

		<!--link rel="manifest" href="../templates/img/icon/favicons/manifest.json">
		<link rel="mask-icon" href="../templates/img/icon/favicons/safari-pinned-tab.svg" color="#5bbad5"-->

		<meta name="theme-color" content="#006331">

        {{ stylesheet([
            "resources/css/main.scss",
            "resources/css/responsive.scss"
        ]) }}

        <title>
            {{ constant("SITE_TITLE", config) }} 
            {% block titel %}{% endblock %}
        </title>
    </head>
    <body>
        
        {% block content %}{% endblock %}

    </body>
</html>
