{% extends "layout/base.html" %}

{# maybe switch to embed for this #}

{% block content %}

<div id="website">

    {% include "include/header.html" %}

    <div id="website-body">

        {% block layout %}{% endblock %}

    </div >


    {% include "include/footer.html" %}

</div>    

{% endblock %}
