{% extends "layout/base.html" %}

{# maybe switch to embed for this #}

{% block content %}

<div id="website">

    {% include "include/header.html" %}

    <div id="website-body">
        
        {% block showcase %}{% endblock %}

        <div id="website-body-separator"> 

            <div id="website-body-left">
                {% block layout %}{% endblock %}
            </div>

            <div id="website-body-right">
                {% include "include/sidenote.html" %}
            </div>

        </div>

    </div >


    {% include "include/footer.html" %}

</div>    

{% endblock %}
