<div class="widget-game">
    <div class=""><i>{{ data.game.date }}</i></div>
    <div class="">{{ data.game.home }}</div>
    <div class=""><b>vs.</b></div>
    <div class="">{{ data.game.guest }}</div>
</div>
