{% macro article(size, post) %}
    <a href="/post.php?name={{ post.name }}">
        <div class="news-post-{{ size }}">
            <img src="/cache/thumbs/{{ size }}/{{ post.preview }}" />
            <h4>{{ post.titel }}</h4>
            {% if size != "small" %}
                <span>{{ post.short }}</span>
            {% endif %}
        </div>
    </a>
{% endmacro %}

{% macro showcase(post) %}
    <a href="/post.php?name={{ post.name }}">
        <div class="website-body-news-latest" style="background-image: url('{{ post.bild }}')">
            <div>
                <h4>{{ post.titel }}</h4>
                <span>{{ post.short }}</span>
            </div>
        </div>
    </a>
{% endmacro %}
