<div class="team-player">
    <img class="team-player-image" src="{{ player.bild }}" />
    <div class="team-player-data">
        <h4>{{ player.nachname }}</h4>
        {{ player.vorname }}
    </div>
</div>
