<table class="widget-table">
    <tr>
        <th class="position">#</th>
        <th>Mannschaft</th>
        <th class="points">Pkt.</th>
    </tr>
    {% for row in data.table %}
        <tr>
            <td class="position">{{ row.place }}</td>
            <td>{{ row.name }}</td>
            <td class="points">{{ row.points }}</td>
        </tr>
    {% endfor %}
</table>
