<div id="website-navigation">
    <div class="navigation-item">
        <a href="/">Home</a>
    </div>
    <div class="navigation-item">
        <a href="/team.php">Team</a>
        <div class="navigation-item-list">
            <div class="navigation-subitem">
                <a href="/team.php?team=A">A-Mannschaft</a>
            </div>
            <div class="navigation-subitem">
                <a href="/team.php?team=B">B-Mannschaft</a>
            </div>
        </div>
    </div>
    <div class="navigation-item">
        <a href="/jugend.php">Jugend</a>
    </div>
    <div class="navigation-item">
        <a href="/verein.php">Verein</a>
        <div class="navigation-item-list">
            <div class="navigation-subitem">
                <a href="/static.php?t=board">Vorstandschaft</a>
            </div>
            <div class="navigation-subitem">
                <a href="/static.php?t=stadion">Austragungsorte</a>
            </div>
            <div class="navigation-subitem">
                <a href="/static.php?t=chronik">Chronik</a>
            </div>
            <div class="navigation-subitem">
                <a href="/download.php">Download</a>
            </div>
        </div>
    </div>
</div>
