<div id="website-sidenote">
    <span class="item">Tabelle</span>
    <hr>
    {{ widget("A", "table-short")|raw }}
    {{ widget("B", "table-short")|raw }}

    <span class="item">Sponsoren</span>
    <hr>
    <img src="/resources/img/logo_hofmann.png" />

    <span class="item">Nächstes Spiel</span>
    <hr>
    {{ widget("A", "next-game")|raw }}
    {{ widget("B", "next-game")|raw }}

</div>
