{% extends "layout/text.html" %}

{% import "include/widget/news.html" as news %}

{% block layout %}

    <h2>Vorstandschaft</h2>

    <img class="full-image" src="/resources/img/content/vorstand.jpg" />
    
    <p></p>

    <p>
        <b>Erste Vorsitzende:</b> Christian Kutirov (VfB) und Steffen Kuhn (TSV)<br/>
        <b>Kassierer:</b> Daniel Quenzer<br/>
        <b>Schriftführer:</b> Eduard Harms<br/>
        <b>Spielausschussvorsitzende:</b> Felix Dölzer (VfB) und Florian Dürr (TSV)<br/>

        <b>Vertreter der Trägervereine:</b> Jochen Oertel (VfB) und Manfred Volk (TSV)<br/>
        <b>Kassenprüfer:</b> Svenja Reichert (VfB) und Daniel Weigand (TSV)<br/>
    </p>

{% endblock %}
