{% extends "layout/text.html" %}

{% import "include/widget/news.html" as news %}

{% block layout %}

    <h2>Chronik</h2>

    <p>Der 1. FC Umpfertal wurde am 4. Dezember 2017 gegründet. Als Zusammenschluss des TSV Schweigern und des VfB Boxberg-Wölchingen hat sich der Verein das Ziel genommen, dauerhaft gute Voraussetzungen für einen erfolgreichen Trainings- und Spielbetrieb für die Fußballmannschaften beider Gründervereine zu schaffen.</p>

    <p>Nach intensiven Gesprächen zwischen den Vorstandschaften sind beide Vereine zu dem Entschluss gekommen, die aktiven Mannschaften zur Sicherung des Nachwuchses zusammenzulegen. Bereits durch die Einführung einer Spielgemeinschaft für die Stadt Boxberg und ihrer zwölf Ortsteile hatte sich eine starke Verbundenheit mit sportlichem Erfolg im Jugendbereich abgebildet. Die Entscheidung wurde über interne Abstimmungen durch die Mitglieder mit überwältigender Zustimmung bekräftigt.</p>

    <p>Mit der erfolgreichen Eintragung in das Vereinsregister kann der 1. FC seinen Spielbetrieb in der Saison 2018/2019 aufnehmen.</p>

    <h3>Wappen</h3>

    <img class="full-image" src="/resources/img/logo_alpha.png" style="width:256;" />

    <p>Das Wappen des 1. FC Umpfertal 2018 fusioniert Elemente der Wappen beider Gründungsvereine. In der Mitte symbolisieren drei wellenförmige Linien die namensgebende Umpfer.</p>

{% endblock %}
