{% extends "layout/text.html" %}

{% import "include/widget/news.html" as news %}

{% block layout %}

    <h2>Austragungsorte</h2>
    
    <p>
    Der 1. FC Umpfertal trägt seine Heimspiele auf den Sportgeländen der Gründervereine aus.
    </p>

    <h3>Boxberg</h3>

    <h3>Schweigern</h3>

{% endblock %}
